<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="../vendor/jquery.fittext.js"></script>
  <title><%= country %></title>
  <link rel="shortcut icon" type="image/png" href="img/favicon.ico">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160824550-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-160824550-3');
  </script>
  <style>
    @font-face {
      font-family: 'Crash Numbering';
      src: url('/fonts/Crashnumberinggothic-MAjp.ttf');
    }

    * {
      overflow: hidden;
    }

    *:focus {
      outline: none;
    }

    body{
      margin: 0;
      height: 100vh;
      background: black;
    }

    body > div:nth-child(2) {
      margin-top: -1px;
      height: calc(100% - 85px - 80px);
    }

    .active, .recovered, .deaths {
      height: 100%;
      position: relative;
    }

    h3 {
      width: 100%;
      margin: 0;
      transform: scale(1.5);
      text-align: center;
      font-family: 'Crash Numbering', Arial, Helvetica, sans-serif;
    }

    .topbar, .bottombar{
      z-index: 100;
      padding: 1.5rem;
      width: 100%;
      height: auto;
      background: white;
    }

    .bottombar {
      padding: 1rem .5rem;
    }

    #info {
      box-shadow: 2.5px 2.5px 15px rgba(255, 255, 255, .35);
      border-radius: 50%;
      width: 35px;
      height: 35px;
      filter: invert();
      background: white;
    }

    #input {
      box-shadow: 2.5px 2.5px 15px rgba(0, 0, 0, .35);
      border: 3.5px solid black;
      height: 35px;
      padding: 0 10px;
      text-align: center;
      border-radius: 25px;
    }
    
    table td:first-of-type {
      text-align: left;
      padding-right: 5px;
    }

    table td:nth-of-type(2) {
      padding-right: 5px;
    }

    table td:not(:first-of-type) {
      text-align: right;
    }

    .red {
      color: red;
    }
    
    .green {
      color: green;
    }
  </style>
</head>
<body>
  <div class="topbar d-flex justify-content-around">
    <img id="info" data-toggle="tooltip" data-html="true" data-placement="top" title="<%- infoHtml %>" src="https://img.icons8.com/ios-glyphs/100/000000/info.png"/>
    <input id="input" list="countryList">
    <datalist id="countryList">
      <option>Global</option>
      <% for (var country of countries) { %>
        <option><%= country.country %></option>
        <% } %>
      </datalist>
      <span>
        <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
        <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/puf17640">
          <img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Donate">
        </a>
      </span>
  </div>
  <div id="container" class="d-flex">
    <div class="active d-flex flex-row" data-fill="#ffce56" data-percentage="<%= activeP %>">
      <h3 class="align-self-center"><%= String(active).replace(/(.)(?=(\d{3})+$)/g,'$1,') %></h3>
    </div>
    <div class="recovered d-flex flex-row" data-fill="#4bc0c0" data-percentage="<%= recoveredP %>">
      <h3 class="align-self-center"><%= String(recovered).replace(/(.)(?=(\d{3})+$)/g,'$1,') %></h3>
    </div>
    <div class="deaths d-flex flex-row" data-fill="#ff6384" data-percentage="<%= deathsP %>">
      <h3 class="align-self-center"><%= String(deaths).replace(/(.)(?=(\d{3})+$)/g,'$1,') %></h3>
    </div>
  </div>
  <div class="bottombar">
    <p class="m-0 align-self-center text-center">
      All data is taken from <a style="font-size: 15px;" href="https://github.com/novelCOVID/API" target="_blank">novelCOVID</a><br>
      Made with <img style="margin-top: -2px;" width="20" height="20" src="https://img.icons8.com/material-sharp/96/000000/like.png"/> by <a style="font-size: 15px;" href="https://www.github.com/puf17640" target="_blank">Julian Pufler</a> in Vienna
    </p>
  </div>
  <script>
    $(()=> {
      let current = decodeURIComponent(window.location.pathname.replace(/\//g, ''))
      $("#input").val(current.charAt(0).toUpperCase()+current.slice(1))
                 .on('change', (e) => window.location.replace('/'+encodeURIComponent($(e.target).val())))
                 .on('input', (e) => $('#countryList option').filter((i, o)=> o.value.toUpperCase() === e.target.value.toUpperCase()).length && window.location.replace('/'+encodeURIComponent($(e.target).val())))
      $('[data-toggle="tooltip"]').tooltip()
      let r = () => {
        let mobile = /Mobi|Android/i.test(navigator.userAgent)
        if(mobile)
          $("#container").removeClass('flex-row').addClass('flex-column')
        else
          $("#container").removeClass('flex-column').addClass('flex-row')
        $("h3").each((i, e) => $(e).parent().css(mobile?'height':'width', $(e).parent().data('percentage')+'%').css(!mobile?'height':'width', '100%')
               .css('background-color', $(e).parent().data('fill')))
        $("h3").fitText(.65, { useHeightIfFitting: mobile, maxFontSize: mobile?55:75, minFontSize: mobile?7.5:5 })
      }
      r()
      window.onresize = r
    })
  </script>
</body>
</html>